{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Contacts</h3>
    <ul class="list-group">
        <li class="contact-item">
            <div>
                <span class="contact-name">David Gilmour</span>
                <br>
                <span class="contact-phone">(403) 123-4567</span>
            </div>
        </li>
        <li class="contact-item">
            <div>
                <span class="contact-name">John Lennon</span>
                <br>
                <span class="contact-phone">(403) 234-5678</span>
            </div>
        </li>
        <li class="contact-item">
            <div>
                <span class="contact-name">Nas</span>
                <br>
                <span class="contact-phone">(403) 345-6789</span>
            </div>
        </li>
        <li class="contact-item">
            <div>
                <span class="contact-name">Kate Bush</span>
                <br>
                <span class="contact-phone">(403) 456-7890</span>
            </div>
        </li>
        <!-- Add more contacts here -->
    </ul>
</div>
{% endblock %}